---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

:root {
--bg-color: #fafafa;
--bg-color-alt: rgba(0, 0, 0, 0.05);
--fg-color: #333;
--fg-color-alt: #7239b3;
--accent-color: #3689e6;
--negative-fg-color: #a10705;
--negative-bg-color: #ff8c82;
--positive-fg-color: #206b00;
--positive-bg-color: #d1ff82;
--caveat-fg-color: #d48e15;
--caveat-bg-color: #fff394;

  @media (prefers-color-scheme: dark) {
    --bg-color: #333;
    --bg-color-alt: rgba(255, 255, 255, 0.125);
    --fg-color: #fafafa;
    --fg-color-alt: #cd9ef7;
    --accent-color: #8cd5ff;
    --negative-fg-color: #ff8c82;
    --negative-bg-color: #7a0000;
    --positive-fg-color: #d1ff82;
    --positive-bg-color: #206b00;
    --caveat-fg-color: #fff394;
    --caveat-bg-color: #ad5f00;
  }
}

html {
  font-size: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: Inter, Helvetica, Roboto, "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 1rem;
}

a {
  color: var(--accent-color);
  opacity: 0.8;
  text-decoration: none;
  text-decoration-skip: ink;
  transition: opacity 250ms ease;

  &:hover,
  &:focus {
    opacity: 1;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-color-alt);
  font-weight: 900;
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.035em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
}

h2,
h3 {
  margin-top: 2em;
}

strong {
  color: var(--fg-color-alt);
  font-weight: 900;
}

footer {
  font-size: 0; // Fix inline-block whitespace
  margin-top: 4rem;

  p {
    display: inline-block;
    font-size: 0.9rem;
    width: 50%;

    &:nth-child(even) {
      text-align: right;
    }
  }
}


.overflow-x {
  overflow-x: auto;
  overflow-y: hidden;

  table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    min-width: 600px;

    th {
      font-size: 0.8em;

      &:first-child {
        line-height: 1.2em;
        text-align: right;
      }
    }

    td {
      background: var(--bg-color-alt);

      &.✔️,
      &.◐ {
        background-color: var(--positive-bg-color);
      }

      &.🗋 {
        background-color: var(--caveat-bg-color);
      }
    }
  }
}

td {
  cursor: default;
}

#no,
.✖️ {
  color: var(--negative-fg-color);
}

#yes,
.✔️,
.◐ {
  color: var(--positive-fg-color);
}

#perhaps,
#maybe,
.🗋 {
  color: var(--caveat-fg-color);
}

