<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="256x256" href="{{ site.baseurl }}/images/icon-256.png" />
  <meta itemprop="logo" content="{{ site.baseurl }}/images/icon-256.png" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/imags/icon-256.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icon-256.png">

  <link rel="alternate" type="application/rss+xml" title="elementary Blog" href="{{ "/feed" | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="author" content="{% if page.author.name %}{{ page.author.name }}{% else %}{{ site.author }}{% endif %}" />
  <meta name="theme-color" content="{% if page.theme-color %}{{ page.theme-color }}{% else %}{{ site.theme-color }}{% endif %}" />

  {% if page.image %}
    {% assign prefix = page.image | slice: 0, 4 %}
    {% if prefix == "http" %}
      {% assign image = page.image %}
    {% else %}
      {% assign image = page.image | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
  {% else %}
    {% assign image = "/images/card.png" | site.baseurl | prepend: site.url %}
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:image" content="{{ image }}" />

  <meta name="twitter:site" content="@{{ site.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.twitter }}" />

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

  <link rel="stylesheet" type="text/css" media="all" href="{{ '/css/main.css' | prepend: site.baseurl | append: '?v=' | append: site.time }}" />
</head>

